body{
    margin: 10px;
}

 body, html {
     height: 100%;
 }
#page-content {
    flex: 1 0 auto;
}
#footer {
    flex-shrink: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2); /* Слегка прозрачный черный фон */
}
#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
